*
    // border: 1px solid #000
html,body
    margin: 0
    padding: 0
body
    padding: 50px
    background-color: #ccc !important

// 調整外層包覆
.row
    display: flex
    justify-content: center
    .wrap
        padding: 0 200px
        margin-bottom: 50px
    h1
        margin-bottom: 30px
@media screen and ( max-width: 768px )
    .row
        .wrap
            padding: 0 30px
            margin-bottom: 20px
        h1
            margin-bottom: 15px

@media screen and ( max-width: 576px )
    .row
        .wrap
            padding: 0
            margin-bottom: 20px
        h1
            font-size: 30px
            margin-bottom: 10px
    
// slick調整共同樣式
.slick-slide
    padding: 5px

.slide-item
    width: 100%
    img
        height: 120px
@media screen and ( max-width: 576px )
    .slide-item
        img
            height: 80px

// 同高不同寬
.slider-nav-3
    // 若要更改導覽列寬度，需要控制padding
    padding: 0 50px
    .slick-dots
        // 但是點點是預設是position: relative，所以要改，不然會突出去
        // 但是改成position: static的話，兩側的箭頭會認為導覽列跟點點是一體的
        // 箭頭就會以兩者置中
        position: static
        padding: 0 50px    
    
@media screen and ( max-width: 576px )
    .slider-nav-3
        padding: 0  20px


// 同高不同寬+彈跳視窗（影片＋圖片）
.slider-for-4
    a
        img
            width: 100%
            margin: auto
.slider-nav-4
    padding: 0 50px
    // 這個就沒有點點，所以箭頭就會以導覽列置中

@media screen and ( max-width: 576px )
    .slider-nav-4
        padding: 0
        .slick-dots
            position: absolute
