*
    // border: 1px solid #000
html,body
    margin: 0
    padding: 0
body
    padding: 50px
    background-color: #ccc !important

// 調整外層包覆
.row
    display: flex
    justify-content: center
    .wrap
        padding: 0 200px
        margin-bottom: 50px
    h1
        margin-bottom: 30px

// slick調整共同樣式
.slick-slide
    padding: 5px

.slide-item
    width: 100%
    img
        height: 120px

// 同高不同寬
.slider-nav-3
    padding: 0 50px
    .slick-dots
        position: static
        padding: 0 50px        

// 同高不同寬+彈跳視窗（影片＋圖片）
.slider-for-4
    a
        img
            margin: auto
.slider-nav-4
    padding: 0 50px
    .slick-dots
        position: static
        padding: 0 50px 